<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <meta http-equiv="x-UA-Compatible" content="ie=edge">
        <title>Anotações em Node.JS</title>
        <style type="text/css">
            body{
                background-color: #4dcc6b;
            }
        </style>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
