<form action="/add" method="POST">
    <p>Titulo: </p>
    <input type="text" name="titulo">
    <p>Conteúdo: </p>
    <textarea name="conteudo"></textarea><br>
    <button type="submit">Cadastrar Postagem</button>
</form>

{{!-- GET: Envia os dados pela URL (Baixa segurança) --}}