<style type="text/css">
    .container{
        display: flex;
        flex-direction: column;
        {{!-- align-items: center; --}}
        {{!-- justify-content: center; --}}
    }
    .container-buttons{
        display: flex;
        align-self: flex-end;
        position: absolute;
        margin-top: 4%;
        margin-right: 2%;
        background-color: #00633d;
        border-radius: 10px;
        padding: 0.4%;
    }
    .btnToNotes{
        height: 45px;
    }
    .container-list{
        display: flex;
        margin-top: 3%;
        align-items: center;
        flex-direction: column;
    }
    h1{
        color: #004a9e;

    }
    .listBody{
        width: 80vw;
        background-color: #0b83d3;
        padding: 2%;
        margin-top: 2%;
        border-radius: 15px;
    }
    .notesCard{
        background-color: gainsboro;
        padding: 1%;
        margin-bottom: 2%;
        border-radius: 15px;
    }
    h2{
        font-family: 'Courier New', Courier, monospace;
    }
    p{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .container-footer{
        display: flex;
        justify-content: space-between;
        margin-top: 3%;
    }
    .container-buttons-card{
        display: flex;
        flex-direction: row;
        width: 60vw;
    }
    .container-btn-right{
        margin-left: 2%;
    }
    .exclusion-date{
        display: flex;
        align-self: flex-end;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 14px;
    }
    
</style>

<main class="container"> 
    <div class="container-buttons">
        <a href="/"><button class="btnToNotes">Lista de Anotações</button></a>
    </div>
    <div class="container-list">
        <h1>Lista de Anotações Excluídas</h1>
        <div class="listBody">
            {{#each inactiveNotes}}
                <div class="notesCard">
                    <h2>{{dataValues.titulo}}</h2>
                    <p>{{dataValues.conteudo}}</p>
                    <div class="container-footer">
                        <div class="container-buttons-card">
                                <div class="container-btn-left">
                                    <form action="/restore/{{dataValues.id}}" method="POST">
                                        <a>
                                            <button>Restaurar anotações</button>
                                        </a>    
                                    </form>
                                    
                                </div>
                        </div>
                        <a class="exclusion-date">Data de exclusão: {{dataValues.updatedAt}}</a> 
                  </div>
                </div>
            {{/each}}    
        </div>
    </div>    
</main>



